<md-sidenav-container>
<div class="col-md-6 col-md-offset-3">
<md-card>
	<md-card-title>
		Enviar propuesta
	</md-card-title>
	
	<strong><u>Datos de la plaza</u></strong><br>
	<span>Titulo: {{plaza.titulo}}</span><br>
	<span>Centro: {{plaza.centro}}</span><br>
	<span>Direccion: {{plaza.direccion}}</span><br><br>
	
    <form name="form" (ngSubmit)="f.form.valid && crearPropuesta()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="propuesta.titulo" #titulo="ngModel" required />
            <div *ngIf="f.submitted && !titulo.valid" class="help-block">Debe introducir un titulo</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
            <label for="texto">Texto</label>
            <textarea ref-textarea class="form-control" name="texto" [(ngModel)]="propuesta.texto" rows="4" #texto="ngModel" required></textarea>
            <div *ngIf="f.submitted && !texto.valid" class="help-block">Debe introducir un texto</div>
        </div>
        <div class="form-group">
        	<button md-raised-button [disabled]="loading || !f.form.valid" color="primary">Enviar</button>
            <ng-container *ngIf="loading">
            <md-progress-circle
        		class="example-margin"
        		[color]="color"
        		[mode]="mode"
        		[value]="value">
    		</md-progress-circle>
    		</ng-container>
            <a md-button routerLink="/">Cancelar</a>
        </div>
    </form>
</md-card>
	<ng-container *ngIf="prohibido">
	<md-card>
		<div class="alert alert-danger">No puedes enviarte una propuesta a ti mismo</div>
	</md-card>
	</ng-container>
</div>
</md-sidenav-container>